*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/73d0f729875189.5608b9343c58d.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.ch{
    display: flex;
}
.fp{
    padding-top: 150px;
}
.clk{
    font-size: 30px;
    padding: 5px;
    background-color: tomato;
    border: tomato solid 5px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}
h1{
    padding: 10px;
}
.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}
.ch{
    border: none;
    color:rgb(167, 33, 33);
    font-weight: 500;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;
}
.btm{
    color:black;
    font-weight: 500;
}
.developer{
    position: absolute;
    right: 5px;
    left: 5px;
    font-size: 30px;
    bottom: 0;
    color: rgb(185, 12, 113);
   text-shadow: black 2px 1px 2px;
    padding-left: 6px;
    font-family: 'Goblin One', cursive;
    font-weight: 700;
}
#qs{
    margin-top: 13%;
}
#scre{
 position: absolute;
 top: 0%;
 
 right: 0%;
}
#scre p{
    font-weight: 800;
    font-size: 25px;
    color: rgb(165, 79, 18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}
.scre1{
    animation-name: final;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes final{
    100%{
      position: absolute;
      right: 40%;
      top: 30%;
      
      
    }
}
@media  screen and (max-width:650px) {

    .developer{
       
        font-size: 10px;
       bottom: 5%;
      
    }
    
}